<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <title>Tuduh</title>
</head>

<body>
    
    <div id="wrapper">
	
		<div id="logo">// Tuduh ///</div>
		
		<div id="content">

	        <div id="user-info">{{ user_info }}. <a href="{{ logout_url }}">Sign out</a>.</div>

	        {% include 'task_add_form.html' %}

	        {% include 'task_list.html' %}
	
		</div>

    </div>

</body>
</html>
